/* typography */

h1,h2,h3,h4,h5,h6,a,p,span,button, li {
   font-family: 'Poppins', sans-serif; 
}
a:hover, .close:hover {
    cursor: pointer;
}
.logo-font {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 36px;
}

header li a {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color:#7B7B7B;
}
/* Global */
.btn-outline-black {
    border: 2px solid black;
    border-radius: 0;
    padding: 10px 25px;
}
.btn-outline-black:hover {
    border-radius: 0;
    padding: 10px 25px;
    color: white;
    background-color: black;
}
.btn-black-bold {
    border-radius: 0;
    padding: 10px 25px;
    color: white;
    background-color: black;
}
.btn-black-bold:hover {
    border-radius: 0;
    padding: 10px 25px;
    color: black;
    background-color: white;
    border: 2px solid black;
}

.btn-outline-white {
    border: 2px solid white;
    border-radius: 0;
    padding: 10px 25px;
}
.btn-outline-white:hover {
    border-radius: 0;
    padding: 10px 25px;
    color: black;
    background-color: white;
}

/* Toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
    max-height: 300px;
}
.cart-notification-wrapper {
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}
.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}



.home-banner {
    background-image: url(../../media/home-banner.jpg);
}

.home-banner-block {
    margin: 250px 75px 250px 75px;
}


/* Product Styles */
.product-card {
    background-color: #F8F8F8;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.15);
    margin: 15px 5px;
}

.product-card h5 {
    margin-bottom: 25px;
}

.card-img-top {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.price-button {
    position: relative;
    margin: 30px 0 20px 0;
}

.price-button a {
    position: absolute;
    right: 6px;
    bottom: -10px;
}

.product-details-container {
    background: #f5f5f5;
    padding: 50px;
}
.product-details-container li {
    margin-top: 15px;
}
/* media queries */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
}
}

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}


.search-form {
    margin: 20px auto;
}
#search-show {
    height: 80px;
    width: 100vw;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: #f5f5f5;
    z-index: 9999999;
}

.close {
    position: absolute;
    top: 30px;
    right: 50px;
}





/* Allauth */

.allauth-col {
    margin: 50px auto;
    background-color: #f5f5f5;
    padding: 25px;
}
.allauth-form-inner-content input {
    border: none;
    border-bottom: 2px solid black;
}

.allauth-form-inner-content .form-group {
    margin-top: 25px;
}

.allauth-form-inner-content button,
 .allauth-form-inner-content input[type="submit"]{
    background-color: white;
    border: 2px solid black;
    padding: 10px 25px;
    margin: 20px 0;
}
.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}
