.logo-font {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 36px;
}

header li a {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color:#7B7B7B;
}

.home-banner {
    background-image: url(../../media/home-banner.jpg);
}

.home-banner-block {
    margin: 250px 75px 250px 75px;
}