{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                    <div class="sort-select-wrapper w-50">
                        <select id="sort-selector"
                            class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...
                            </option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price
                                (low to high)</option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price
                                (high to low)</option>
                            <option value="modname_asc"
                                {% if current_sorting == 'modname_asc' %}selected{% endif %}>Name
                                (A-Z)</option>
                            <option value="modname_desc"
                                {% if current_sorting == 'modname_desc' %}selected{% endif %}>Name
                                (Z-A)</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6 order-md-first">
                    <h2 class="text-left text-md-left">
                        Showing all {{ products|length }} Products{% if search_term %} found
                        for{{ search_term }}"{% endif %}
                    </h2>
                </div>
            </div>
            <div class="row">
                {% for product in products %}
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="card product-card">
                      {% if product.image %}
                                <a href="{% url 'product_single' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product_single' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ product.model_name }}</h5>
                            {% if product.category %}
                            {% endif %}
                            <p>Key features</p>
                            <ul>
                                <li>{{ product.cpu | truncatechars:30 }}</li>
                                <li>{{ product.gpu | truncatechars:30 }}</li>
                                <li>{{ product.storage | truncatechars:30 }}</li>
                                <li>{{ product.ram | truncatechars:30 }}</li>
                            </ul>
                            <div class="price-button">
                                <span class="card-price"><strong>${{ product.price }}</strong></span>
                                <a href="{% url 'product_single' product.pk %}"
                                    class="btn btn-outline-black float-xl-right">DETAILS</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>



    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}