{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5">
                <h2 class="mb-0">{{ product.model_name }}</h2>
                {% if product.category %}
                <p class="small mt-1 mb-0">
                    <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                    {{ product.category.display_name }}
                    </a>
                </p>
                {% endif %}
                <p class="lead mb-0 text-left bold">${{ product.price }}</p>
                
                <p class="mt-3">{{ product.description }}</p>
                <ul>
                    <li>{{ product.cpu }}</li>
                    <li>{{ product.gpu }}</li>
                    <li>{{ product.storage }}</li>
                    <li>{{ product.ram }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}